{% extends 'MisionSucreRipesBundle::layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_page.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/botones.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/dataTables.tableTools.css')}}">
	
	
{% endblock %}

{% block content %}

<h1 class="heading_style"> Resumen del Sistema</h1>
<div id="dt_example">
<div id="container" style="width: 100%">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
	<thead>
		<tr><th>Aldea</th><th>Coordinador</th><th>Ambientes</th><th>Triunfadores</th><th>Docente</th><th>Operario</th>
                </tr><!-- Table Header -->  
	</thead>
	<tbody>
{% set i = 1 %}
{% for r in resumen %}
    
        <tr >   
	
            <td><a href="{{path('aldea_show',{'id':r.idaldea})}}">{{r.aldea}}</td><td><a href="{{path('usuario_show',{'id':r.idusr})}}">{{r.coordinador |upper}}</a></td>
            <td>{{r.ambientes.cantidadambiente}}</td><td>{{r.triunfadores.cantidadtriunfadores}}</td>
            <td>{{r.docente.cantidaddocentes}}</td><td>{{r.operarios.cantidadoperarios}}</td>
            
        </tr><!-- Table Row -->
    
    {% set i = i+1 %}
   
{% endfor %}    
  
        </tbody>
</table>
</div>

</div>

</div>

</div>

<script src="{{asset('js/jquery.dataTables.js')}}" type="text/javascript" type="text/javascript"></script>
<script src="{{asset('js/dataTables.tableTools.js')}}" type="text/javascript" type="text/javascript"></script>

{% endblock %}

{% block javascripts %}
{{parent()}}

$(document).ready(function() {
$('#example').dataTable( {
        "oLanguage": {
            "sLengthMenu": "Mostrar _MENU_ Estructura por Página",
            "sZeroRecords": "No se encontraron Resultados",
            "sSearch": "Buscar: ",
            "sInfo": "Mostrando _START_ a _END_  de un Total de _TOTAL_ Estructuras",
            "sInfoEmpty": "No hay Resultados",
            "sInfoFiltered": "(Filtrado de un _MAX_ total de Estructuras)",
            "oPaginate": {
                "sNext": "Página Siguiente",
                "sPrevious": "Página Anterior"
                }
        },
        dom: 'T<"clear">lfrtip'
        ,
        tableTools:{
        		"sSwfPath": "{{asset('swf/copy_csv_xls_pdf.swf')}}",
        }
    } );
} );

{% endblock %}