{%if atenciones is empty%}  
        <h3> No hay Actividades</h3>  
{%endif%}
<table cellspacing='0' style='margin-top: 30px; margin-bottom: 0px;margin-left: 0px;' >       
                <tr>
			<th>ID{{cedula}}</th><th>Fecha</th><th>Cedula</th><th>Nombre y Apellido</th><th>Aldea</th><th>Perfil</th><th>Tipo</th><th>Estatus</th>
		</tr>
                
	<tbody>	
{% set i = 1 %}

{% for a in atenciones %}

	{% if i %2== 0 %}
			{% set class = 'gradeA' %}
	{% else %}	
			{% set class = 'gradeU' %}		
        {% endif %}	
        	
		<tr class="{{class}}">
    <td>{{i}}</td>  
   <td>{{a.id}}</td>
            <td>{{a.fecha |date('d/m/Y')}}</td>
            <td>{{a.cedula}}</td></a><td><a href="{{path('usuario_show',{'id':a.idusr})}}">{{a.nombre}}</a></td>
            <td><a href="{{path('aldea_show',{'id':a.id})}}">{{a.aldea}}</a></td>
            <td>{{a.perfil}}</td>
            <td>{{a.tipo}}</td>
            <td>{{a.estatus}}</td>
{% set i = i+1 %}
</tr>
{% endfor %}    
		
      </tbody>
</table>