{% extends 'MisionSucreRipesBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('css/table/littletable.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/blitzer/jquery-ui-1.10.4.custom.css')}}">
	
{% endblock %}

{% block js %}
        {{ parent() }}
	<script src="{{asset('js/jquery-ui-1.10.4.custom.js')}}"></script>
        <script>
            $(function() {
		$( "#accordion" ).accordion(
                {
                heightStyle: "content",        
                collapsible: true,
                active: false
                }                
                );
                $( "#tabs" ).tabs(
                        
                        );
            });            
            
        </script>
{% endblock %}    

{% block content %}
	{{ parent() }}

        
{% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
        {{ flashMessage }}
        </div>
{% endfor %}

<div id="tabs">
    <ul>
		<li><a href="#aldea">Aldeas</a></li>
		
    </ul>
<div id="aldea">    
    
    
  {% if  docente %}  
    <h1 class="heading_style">Aldeas</h1>  
    <table cellspacing='0' > <!-- cellspacing='0' is important, must stay -->
        <tr><th>ID</th><th>Aldea</th><th>Unidades Curriculares</th><th>Horas</th><th>Componente Docente</th><th>PNFs</th><th>Periodo Ingreso</th>
            <th>Exclusividad</th>
        </tr><!-- Table Header -->  
    
        {% for doc in docente%}
            <tr>
            <td>{{doc.id}}</td>
            <td><a class="enlace" href="{{path('aldea_info',{'id':doc.aldea.id})}}">{{doc.aldea.nombre}}</a></td>
            <td>{{doc.unidadesCurriculares}}</td>
            <td>{{doc.horas}}</td>
            <td>{{doc.componentedocente}}</td>
            <td>{{doc.pnfs}}</td>
            <td>{{doc.periodoIngreso}}</td>
            <td>{{doc.exclusividad}}</td>
            </tr><!-- Table Row -->
        {% endfor %}
    
    </table>
   {% endif %}
</div>
    
</div>
    
</div>    
    
    
</div>
    
{% endblock %}

