{% extends 'MisionSucreRipesBundle::layout.html.twig' %}

{% block title %}
    Lista de Usuario-
{% endblock %}

{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_page.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/botones.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/dataTables.tableTools.css')}}">	
{% endblock %}

{% block content %}
<h1 class="heading_style">Lista de P.N.F.</h1> 
<div id="dt_example">
<div id="container">
    
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	<thead>
		<tr>
			<th>#</th><th>Nombre</th><th>Universidad que lo Acredita</th><th>Modalidad</th><th></th><th></th>
		</tr>
	</thead>
	<tbody>
	
{% set i = 1 %}

{% for p in pnfs %}

	{% if p.universidad.id == 1 %}
			{% set class = 'gradeA' %}
	{% elseif  p.universidad.id == 2 %}	
			{% set class = 'gradeC' %}
	{% elseif  p.universidad.id == 3 %}	
			{% set class = 'gradeX' %}
	{% else %}	
			{% set class = 'gradeU' %}		
        {% endif %}	
	
		<tr class="{{class}}">
<td>{{i}}</td><td>{{p.nombre}}</td><td>{{p.universidad}}</td><td>{{p.modalidad}}</td><td><a class="enlace" href="{{path('pnf_show',{'id':p.id})}}">Mostrar</a></td>
    <td><a class="enlace" href="{{path('pnf_update',{'id':p.id})}}">Actualizar</a></td>
    
    
{% set i = i+1 %}
{% endfor %}    
    
		</tr>
        </tbody>        
</table>
</div>
</div>

<a href="new" id="boton_nuevo">Nuevo P.N.F.</a>

<script src="{{asset('js/jquery.dataTables.js')}}" type="text/javascript" type="text/javascript"></script>
<script src="{{asset('js/dataTables.tableTools.js')}}" type="text/javascript" type="text/javascript"></script>

{% endblock %}

{% block javascripts %}
{{parent()}}


$(document).ready(function() {
$('#example').dataTable( {
        "oLanguage": {
            "sLengthMenu": "Mostrar _MENU_ Usuarios por Página",
            "sZeroRecords": "No se encontraron Resultados",
            "sSearch": "Filtro: ",
            "sInfo": "Mostrando _START_ a _END_  de un Total de _TOTAL_ Usuarios",
            "sInfoEmpty": "Mostrando 0 de 0 de 0 Usuarios",
            "sInfoFiltered": "(Filtrado de un _MAX_ total de Usuarios)",
            "oPaginate": {
                "sNext": "Página Siguiente",
                "sPrevious": "Página Anterior"
                }
        },
        dom: 'T<"clear">lfrtip'
        ,
        tableTools:{
        		"sSwfPath": "{{asset('swf/copy_csv_xls_pdf.swf')}}",
        }
    } );
} );

{% endblock %}