{% extends 'MisionSucreRipesBundle::layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_page.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/botones.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/dataTables.tableTools.css')}}">	
        <link rel="stylesheet" type="text/css" href="{{asset('css/table/littletable.css')}}">
{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
        {{ flashMessage }}
        </div>
{% endfor %}  

 <div class="flash-notice">
</div>
<h1 class="heading_style">Registrar Triunfador</h1> 

<h1 class="sub_heading_style">Información de Aldea</h1> 
    <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
            <tr><th>ID</th><th>Nombre de la Aldea</th><th>Dirreción</th><th>Eje</th><th>Municipio</th><th>Parroquia</th></tr><!-- Table Header -->


        <tr><td>{{aldea.id}}</td><td>{{aldea.nombre}}</td><td>{{aldea.direccion}}</td><td>{{aldea.parroquia.eje.nombre}}</td><td>{{aldea.parroquia.municipio.municipio}}</td><td>{{aldea.parroquia.parroquia}}</td>
            
        </tr><!-- Table Row -->
    </table>

<h1 class="sub_heading_style">Información de Ambiente</h1> 
    <table cellspacing='0' style='margin-top: 0px; margin-bottom: 0px;margin-left: 0px;'> <!-- cellspacing='0' is important, must stay -->
                <tr><th>ID</th><th>P.N.F.</th><th>Turno</th><th>Nombre</th><th>Promoción</th><th>Condición</th>
                    <th>Trayecto</th><th>Tramo</th>
                </tr><!-- Table Header -->  
            <tr>
                    
                {% if ambiente.ambiente.turno == 'n' %}
                        {% set turno = 'Nocturno' %}

                {% else%}	
                        {% set turno = 'Fines de Semana' %}
                {% endif %}	

                    
                <td>{{ambiente.ambiente.id}}</td><td>{{ambiente.ambiente.pnf.nombre}}</td> <td>{{turno}}</td><td>{{ambiente.ambiente.nombre}}</td>
                <td>{{ambiente.ambiente.promocion}}</td><td>{{ambiente.ambiente.condicion}}</td><td>{{ambiente.periodopnf.trayecto}}</td><td>{{ambiente.periodopnf.periodo}}</td>
            </tr><!-- Table Row -->
    </table>

                <h1 class="sub_heading_style">Triunfadores Vinculados   <a href="#" id="ocultar">Ocultar</a></h1>                 
{% if  triunfadores %}
    <table cellspacing='0' style='margin-top: 0px; margin-bottom: 0px;margin-left: 0px;' id="tablatriunfadores"> <!-- cellspacing='0' is important, must stay -->
		<tr>
			<th >#</th>
                        <th >Cédula</th><th>Nombres y Apellidos</th>
                        <th >Celular</th>
                        <th>Teléfono</th>
                        <th >Vinculado al </br> Sistema Sucre</th>
                        <th >Becado</th>
                        <th >Condición</th>
		</tr>
                
	<tbody>
    {% else %}
    <div class="error">Ningún Triunfador Vinculado</div>
    {% endif %}
    
	
{% set i = 1 %}

{% for t in triunfadores %}

	{% if t.sexPer == 'm' %}
			{% set class = 'gradeA' %}
	{% else %}	
			{% set class = 'gradeU' %}		
        {% endif %}	
        	
		<tr class="{{class}}">
    <td>{{i}}</td>  <td>{{ t.cedPer}}</td>
    <td>{{ t.priNom |upper}} 
    {{ t.priApe |upper}}</td>
    <td>{{t.celPer}}</td>
        <td>{{t.telPer}}</td>
         <td>{{t.sistema}}</td>
    <td>{{t.becamision}}</td>
    <td>{{t.condicion}}</td>
   
    {% if is_granted('ROLE_COORD') %}
        <td><a class="enlace" href="{{path('usuario_show',{'id': t.idusr})}}">Mostrar</a></td>
        <td><a class="enlace" onclick="return confirm('******Confirmar Borrar******')" href="{{path('triunfador_delete',{'idtrf': t.id})}}">Borrar</a></td>
    {% endif %} 
{% set i = i+1 %}
{% endfor %}    
		</tr>
      </tbody>
</table>
            
            
<h1 class="heading_style">Triundadores no Vinculados</h1> 

<h1 class="sub_heading_style">Cédulas: </h1> 

 <textarea class="cedulas" id="cedulas"></textarea>
<br/>
<input type="button" value="Buscar" class="botonmediano blue" id="b_buscar"/>

<div class="tabla_triunfadores">
    
</div>

<script>    
    
$(document).ready(function(){


$('#b_buscar').click( function () {

if($('.cedulas').val()==""){
    $('.error').html("Parámetro de Busqueda Vacio");
}
else{

$('.error').html("");

$('.tabla_triunfadores').html('<img src="{{asset('img/ajax-loader.gif')}}" width="16" height="16" alt="cargando" />');

var cedula=$('.cedulas').val();

var query='{"query":{"cedulas":"'+cedula+'","ambiente":"'+{{ambiente.ambiente.id}}+'"}}';

$.ajax({
        url: "../busquedatriunfador/"+query+"",
        success: function (html) {
            $('.tabla_triunfadores').html(html);
        }
    });
var altura = $(document).height();
$("html, body").animate({scrollTop:altura+"px"});
}
});

$('#cedulas').keypress( function (event) {
    
    return event.charCode >= 48 && event.charCode <= 57  || event.charCode ==0  || event.charCode ==45 || event.charCode ==44;
    
});

// Evento que selecciona la fila y la elimina 
	$(document).on("click",".eliminar",function(){
		var parent = $(this).parents().get(0);
		$(parent).remove();
	});
        
$('#ocultar').click(function() {        
         $('#tablatriunfadores').fadeToggle('10000');
         if($(this).text()=="Ocultar"){
             $(this).text("Mostrar")
         }
         else{
             $(this).text("Ocultar")
         }
    });

});

</script>

<style>
    .cedulas{
        width:600px;
        height:100px;
        border: 2px solid #990000;
        font-size: 1.2em;
    } 
    
    #ocultar{
        text-align: right;
        margin-left: 25px;
    }
    
</style>


{% endblock %}