{% extends 'MisionSucreRipesBundle::layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_page.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/botones.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/dataTables.tableTools.css')}}">	
{% endblock %}

{% block content %}

<h1 class="heading_style">Lista de Coordinadores de Aldea</h1> 
<div id="dt_example">
<div id="container" style="width: 100%">
   
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	<thead>
		<tr>
			<th>#</th><th>Nombre de Usuario</th><th>Cédula</th><th>Nombres y Apellidos</th><th>Aldea</th>
                        <th>Turno</th><th></th>
		</tr>
	</thead>
	<tbody>
	
{% set i = 1 %}

{% for c in coordinadores %}

	{% if c.sexPer == 'm' %}
			{% set class = 'gradeA' %}
	{% else %}	
			{% set class = 'gradeU' %}		
        {% endif %}	

	
		<tr class="{{class}}">
    <td>{{i}}</td><td>{{ c.username}}</td><td>{{ c.cedPer}}</td>
    <td>{{ c.priNom |upper}} {{ c.segNom |upper}}
    {{ c.priApe |upper}} {{ c.segApe |upper}}</td>
    <td>{{ c.nombre}}</td>
    <td>{{ c.turno}}</td>
    <td><a class="enlace" href="{{path('usuario_show',{'id': c.id})}}">Mostrar</a></td>
{% set i = i+1 %}
{% endfor %}    
		</tr>
      </tbody>
</table>
               
</div>
</div>

<a href="new" id="boton_nuevo">Nuevo Coordinador</a>

<script src="{{asset('js/jquery.dataTables.js')}}" type="text/javascript" type="text/javascript"></script>
<script src="{{asset('js/dataTables.tableTools.js')}}" type="text/javascript" type="text/javascript"></script>

<script>
$(document).ready(function() {
$('#example').dataTable( {
        "oLanguage": {
            "sLengthMenu": "Mostrar _MENU_ Coordinadores de Aldea por Página",
            "sZeroRecords": "No se encontraron Resultados",
            "sSearch": "Filtro: ",
            
            "sInfo": "Mostrando _START_ a _END_  de un Total de _TOTAL_ Coordinadores de Aldea",
            "sInfoEmpty": "Mostrando 0 de 0 de 0 Coordinadores de Aldea",
            "sInfoFiltered": "(Filtrado de un _MAX_ total de Coordinadores de Aldea)",
            "oPaginate": {
                "sNext": "Página Siguiente",
                "sPrevious": "Página Anterior"
                }
        },
        dom: 'T<"clear">lfrtip'
        ,
        tableTools:{
        		"sSwfPath": "{{asset('swf/copy_csv_xls_pdf.swf')}}",
        }
    } );
} );
</script>
{% endblock %}