{% extends 'MisionSucreRipesBundle::layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/demo_page.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/botones.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/dataTables.tableTools.css')}}">
	
	
{% endblock %}

{% block content %}

<h1 class="heading_style">Lista de Voceros</h1> 
<div id="dt_example">
<div id="container" style="width: 100%">
    
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	<thead>
		<tr>
			<th>#</th></th><th>Cédula</th><th>Nombres</th><th>Apellidos</th>
                        <th>Aldea</th><th>Ambiente</th>
                        <th></th>
		</tr>
	</thead>
	<tbody>
	
{% set i = 1 %}


{% for e in voceros %}
    
    
	{% if e.sexPer == 'm' %}
			{% set class = 'gradeA' %}
	{% else %}	
			{% set class = 'gradeU' %}		
{% endif %}	

	
		<tr class="{{class}}">
    <td>{{i}}</td><td>{{ e.cedPer}}</td>
    <td>{{ e.priNom |upper}} {{ e.segNom |upper}}</td>
    <td>{{ e.priApe |upper}} {{ e.segApe |upper}}</td>
    <td><a class="enlace" href="{{path('aldea_show',{'id': e.voc.ambiente.aldea.id})}}">{{e.voc.ambiente.aldea.nombre}}</a></td>
    <td><a class="enlace" href="{{path('ambiente_show',{'idamb': e.voc.ambiente.id})}}">({{e.voc.ambiente.id}}) {{e.voc.ambiente.pnf.nombre}} </a></td>
    <td><a class="enlace" href="{{path('usuario_show',{'id': e.voc.user.id})}}">Mostrar</a></td>
{% set i = i+1 %}

{% endfor %}    

		</tr>
		
</table>
</div>
</div>
</div>
<script src="{{asset('js/jquery.dataTables.js')}}" type="text/javascript" type="text/javascript"></script>
<script src="{{asset('js/dataTables.tableTools.js')}}" type="text/javascript" type="text/javascript"></script>

<script>
$(document).ready(function() {
$('#example').dataTable( {
        "oLanguage": {
            "sLengthMenu": "Mostrar _MENU_ Voceros por Página",
            "sZeroRecords": "No se encontraron Resultados",
            "sSearch": "Filtro: ",
            "sInfo": "Mostrando _START_ a _END_  de un Total de _TOTAL_ Voceros",
            "sInfoEmpty": "Mostrando 0 de 0 de 0 Voceros",
            "sInfoFiltered": "(Filtrado de un _MAX_ total de Voceros)",
            "oPaginate": {
                "sNext": "Página Siguiente",
                "sPrevious": "Página Anterior"
                }
        },
        dom: 'T<"clear">lfrtip'
        ,
        tableTools:{
        		"sSwfPath": "{{asset('swf/copy_csv_xls_pdf.swf')}}",
        }
    } );
} );
</script>
{% endblock %}