{% extends 'MisionSucreRipesBundle::layout.html.twig' %}

{% block content %}

<div id='mensaje'>
<h1>Bienvenid@ {{per.PriNom}} {{per.SegNom}} {{per.PriApe}} {{per.SegApe}}</h1>

<img src="{{asset('img/sistemaripes.png')}}" />
</div>
{% endblock  %}