{% extends 'MisionSucreRipesBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('css/table/littletable.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('css/blitzer/jquery-ui-1.10.4.custom.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/color.css') }}"/>
{% endblock %}

{% block js %}
        {{ parent() }}
	<script src="{{asset('js/jquery-ui-1.10.4.custom.js')}}"></script>
        <script>
            $(function() {
		$( "#accordion" ).accordion({
                heightStyle: "content",        
                collapsible: true,
                active: false
                }        );            
            });            
            
        </script>
{% endblock %}    

{% block content %}
	{{ parent() }}

        
{% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
        {{ flashMessage }}
        </div>
{% endfor %}
<h1 class="heading_style">Resumen de Vocerias</h1> 
<div id="accordion">
    
    <h3>Por Municipio</h3>
        <div>
    <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
        <tr > <th class="heading" colspan='7'> Cantidad de Vocerias por Municipio</th></tr>
            <tr>
                <th>Municipios</th><th>Cantidad de Vocerias</th>           
            </tr><!-- Table Header -->
    {% set cont = 0 %}  
    {% for ca in cxmunicipios%}
        
        <tr>
            <td>{{ca.municipio}}</td>
            <td>{{ca.cantidadvoceria}}</td>
            
            {% set cont = cont+ ca.cantidadvoceria%}
        </tr><!-- Table Row -->
    {% endfor%}
    <td class = 'total'>Total</td><td>{{cont}}</td>
    </table>
    
    <div id="municipio" style="width: 70%;"></div>
        </div>

 <h3>  Vocerias</h3>
      <div> 
    <table cellspacing='0'  style="display: inline"> <!-- cellspacing='0' is important, must stay -->
        <tr > <th class="heading" colspan='9'> Cantidad de Vocerias</th></tr>
            <tr>
                <th>Voceria</th><th>Cantidad Total</th>       
                {% for m in municipios%}        
                <th>{{m.municipio}}</th>
                {%endfor%}
            </tr><!-- Table Header -->   
    {% for ca in cxvoceria%}
        
        <tr>
            
            {% for c in ca%}
           <td>{{c}}</td>
             
            {% endfor%} 
        </tr><!-- Table Row -->
    {% endfor%}
    </table>
    
    <div id="vocerias" style="width: 70%;"></div>
    </div>   
  
    </div>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>    
    
$(document).ready(function(){

$(function () {
    $('#municipio').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Vocerias por Municipio '
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Cantidad de Vocerias',
            data: [
                {% for ca in cxmunicipios%}                    
                    ['{{ca.municipio}}',{{ca.cantidadvoceria}}],
                {% endfor%} 
            ]
        }]
    });
});

$(function () {
    $('#vocerias').highcharts({
         chart: {
            type: 'column'
        },
        title: {
            text: 'Vocerias'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,       
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
        },
        yAxis: {
            title: {
                text: 'Porcentaje',
                }
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> del Total<br/>'
        },
        series: [{
            name: 'Cantidad de Vocerias',
            data: [
                {% for ca in cxvoceria%}    
                    ["{{ca.voceria}}",{{(ca.cantidadvoceria/cont*100)}}],
                {% endfor%} 
                        
                        
            ]
        }]
    });
});

});

</script>
{% endblock %}

