{% extends 'MisionSucreRipesBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('css/table/littletable.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/blitzer/jquery-ui-1.10.4.custom.css')}}">
	
{% endblock %}

{% block content %}
	{{ parent() }}

        
{% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
        {{ flashMessage }}
        </div>
{% endfor %}

  
    <h1 class="heading_style">Universidad</h1> 
    <h1 class="heading_style"> {{u.nombre}}</h1>
   
    <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
        <tr><th>ID</th><th>Dirección</th>
            <tr><td>{{u.id}}</td>
                <td>{{u.direccion}}</td>
                <td><a class="enlace" href="{{path('universidad_update',{'id':u.id})}}">Actualizar</a></td>
        </tr><!-- Table Row -->
    </table>
    
    <h1 class="sub_heading_style"> Estadística</h1>    
    <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
            
            <tr><th>ID</th><th>Modalidad</th><th></th></tr><!-- Table Header -->
             {% for p in pnfs %}
            <tr>
               
                <td>{{p.id}}</td>
                <td>{{p.nombre}}</td><td>{{p.modalidad}}</td>
                <td><a class="enlace" href="{{path('pnf_show',{'id':p.id})}}">Mostrar</a></td>
            </tr><!-- Table Row -->    
            {% endfor %}
    </table>
    
    
{% endblock%}
       