{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" href="{{asset('css/form/login.css')}}" />
{% endblock %}

{% block body %}

{{ parent() }}

{% if error%}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
        {{ flashMessage }}
        </div>
    {% endfor %}
 {% endif%}

<form method="post" action="" id="login" class="cj-form" autocomplete="off">
            <div class="logo">SISTEMA RIPES FALCÓN</div>
            <h2>Recuperar Contraseña</h2>
            <div id="cajaform">
            {{ form_start(form) }}
            <label for="correo">
                <span>Correo Electrónico:</span>
                {{ form_widget(form.email) }}
            </label>
            {{ form_end(form) }}
            <button type="submit" id="submit">Enviar Contraseña</button>
            </div>
            <div>
                
        </div>  
</form>    
    
<style>
    #form_captcha{
        margin: 10px 0px 10px 30px;    
    }
    
    img{
        vertical-align: middle; 
    }
    
    img[title="captcha"]{
      margin: 10px 0px 10px 10px;}
    
</style>		
{% endblock %}

