{% extends 'MisionSucreRipesBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('css/form/responsiveform.css')}}">
	<link rel="stylesheet" media="screen and (max-width: 1200px) and (min-width: 601px)" href="{{asset('css/form/responsiveform1.css')}}" />
	<link rel="stylesheet" media="screen and (max-width: 600px) and (min-width: 351px)" href="{{asset('css/form/responsiveform2.css')}}" />
	<link rel="stylesheet" media="screen and (max-width: 350px)" href="{{asset('css/form/responsiveform3.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/table/littletable.css')}}">
{% endblock %}

{% block content %}

{% for f in form %}
                {% if f.vars.block_prefixes[0]!="button" %}
                    <div class="flash-notice">
                        {{f.vars.errors}}
                    </div>
                {% endif %}
    {% endfor %}

	<div id="envelope" style='width: 75%;'>
	
        <header>
            <h2>{{mensaje_heading|raw}}</h2>
            <p>{{sub_heading |raw}}</p>
	</header>
	<hr>
	
        <table cellspacing='0' style='margin-left: 10%;' > <!-- cellspacing='0' is important, must stay -->
            
            <h1 class="heading_style">Datos de Operario a Registrar</h1> 
            <tr><th>ID</th><th>Nombre de Usuario</th><th>Nombres</th><th>Apellido</th><th>Cédula</th></tr>
            <td>{{usr.id}}</td><td>{{usr.username}}</td>
            <td>{{ per.priNom |upper}} {{ per.segNom |upper}}</td>
            <td>{{ per.priApe |upper}} {{ per.segApe |upper}}</td>
            <td>{{ per.cedPer}}</td>
        </tr><!-- Table Row -->
        </table>    
        
        {{ form_start(form) }}
        
        <div>
            {{ form_label(form.turno) }}
        <div class="styled">
            {{ form_widget(form.turno) }}
	</div>
            <div class="error">
                    {{ form_errors(form.turno) }}
            </div>
        </div>
            
        <div>
            {{ form_label(form.cargo) }}
        
            {{ form_widget(form.cargo) }}
            <div class="error">
                    {{ form_errors(form.cargo) }}
            </div>
        </div>
        
        <div>
            {{ form_label(form.estudia) }}
        <div class="styled">
            {{ form_widget(form.estudia) }}
	</div>
            <div class="error">
                    {{ form_errors(form.estudia) }}
            </div>
        </div>
            
        <div>
		{{ form_widget(form.save) }}
	</div>
		{{ form_end(form) }}		
</div>
                
{% endblock %}

